# SSH Config File

# GH
Host bastion*.githubapp.com vault-bastion*.githubapp.com
  ForwardAgent yes
  IdentitiesOnly=yes
  IdentityAgent ~/.1password/agent.sock

Host github.com *.github.net *.githubapp.com
  ForwardAgent no
  IdentitiesOnly=yes
  IdentityAgent ~/.1password/agent.sock

# Default
Host *
  ForwardAgent yes
  IdentitiesOnly=yes
  IdentityAgent ~/.1password/agent.sock
  IgnoreUnknown UseKeychain
  UseKeychain yes
  AddKeysToAgent yes