Host *github.com*
  User ptongsak
  IdentityFile %d/.ssh/id_ed25519

Host *-gns* nsg7-portalcn0*.linkedin.biz
  ForwardAgent yes
  ControlMaster auto
  ControlPath ~/.ssh/tmp/%h_%p_%r
  ControlPersist 8h

Host abe2*.gts* ash1*.gts* *.internal.linkedin.cn *-cn-*.gts*
  ProxyCommand ssh -q -W %h:%p nsg7-portalcn01.linkedin.biz

Host *.gts*
  Proxycommand ssh -q -W %h:%p lca1-gns01.linkedin.biz

Host *
  IdentityFile %d/.ssh/%u_at_linkedin.com_ssh_key
    HostkeyAlgorithms +ssh-dss
    PubkeyAcceptedKeyTypes +ssh-dss
    IgnoreUnknown UseKeychain
    UseKeychain yes
    AddKeysToAgent yes
    Ciphers aes128-cbc,aes128-ctr

Host lca1
  Hostname lca1-gns01.linkedin.biz

Host lva1
  Hostname lva1-gns01.linkedin.biz

Host ltx1
  Hostname ltx1-gns01.linkedin.biz

Host idb2
  Hostname idb2-gns01.linkedin.biz

Host nsg7
  Hostname nsg7-gns01.linkedin.biz
