[user]
  name = GIT_NAME
  email = GIT_EMAIL
  username = GIT_USER
          signingkey = # add public key here

[core]

  # Use custom `.gitignore` and `.gitattributes`
  excludesfile = $HOME/.gitignore
  # Treat spaces before tabs and all kinds of trailing whitespace as an error
  # [default] trailing-space: looks for spaces at the end of a line
  # [default] space-before-tab: looks for spaces before tabs at the beginning of a line
  whitespace = space-before-tab,-indent-with-non-tab,trailing-space
  # Make `git rebase` safer on macOS
  # More info: <http://www.git-tower.com/blog/make-git-rebase-safe-on-osx/>
  trustctime = false
  # Prevent showing files whose names contain non-ASCII symbols as unversioned.
  # http://michael-kuehnel.de/git/2014/11/21/git-mac-osx-and-german-umlaute.html
  precomposeunicode = false
  # Speed up commands involving untracked files such as `git status`.
  # https://git-scm.com/docs/git-update-index#_untracked_cache
  untrackedCache = true

  editor = code --wait

  hooksPath = $HOME/.git_template/hooks

[credential]
  helper = osxkeychain

[color]
  ui = true

[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green

[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red bold
  new = green bold

[color "status"]
  added = yellow
  changed = green
  untracked = cyan

[gpg]
        format = ssh

[gpg "ssh"]
        program = /Applications/1Password.app/Contents/MacOS/op-ssh-sign

[commit]
        gpgsign = true